
@page "/Error"
@using System.Diagnostics
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Error> Localizer

<PageTitle>@Localizer["PageTitle"]</PageTitle>

<h1 class="text-danger">@Localizer["Header"]</h1>
<h2 class="text-danger">@Localizer["SubHeader"]</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@Localizer["RequestId"]</strong> <code>@RequestId</code>
    </p>
}

<h3>@Localizer["DevMode"]</h3>
<p>
    @((MarkupString)Localizer["DevModeInfo"].Value)
</p>
<p>
    @((MarkupString)Localizer["DevModeWarning"].Value)
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
